apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer-deploy
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fun-facts
      role: consumer
  minReadySeconds: 15
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: fun-facts
        role: consumer
    spec:
      containers:
      - name: consumer-container
        image: shekeriev/k8s-facts-fe
        ports:
        - containerPort: 5000
        env:
        - name: FACTS_SERVER
          value: "facts-ip"      # BE Service name
        - name: FACTS_PORT
          value: "5000"          # BE Service port


